name: Example

on:
  pull_request:
  push:
    branches: main

jobs:
  grep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          patterns: |
            - pattern: "\\<setFailed\\>"

              # Must be basic|extended|fixed|perl
              syntax: basic

              paths:
                - "src/**/*.ts"

              paths-ignore:
                - "src/**/*.test.ts"

              # Must be notice|warning|failure
              level: warning

              # Limit 255 characters
              title: "Use of setFailed is considered harmful"

              # Limit 64KB
              message: |
                Imagine if setFailed was a dangerous function. This annotation
                will highlight its usage in diffs.

                And this body would describe why that is, what nuances or
                trade-offs, the author should consider, and perhaps some options
                to use instead.

                This bit doesn't support markdown, sadly, but maybe someday?

                https://github.community/t/checks-ability-to-include-markdown-in-line-annotations/14736/3

          only-changed: false
